:root{
    --nav-font-color: #094e28;
    --nav-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --nav-header-height: 56px;
    --content-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --content-text-color: black;
    --color-primary: #ee625d;
    --color-secondary: #a1980f;
    --color-tertiary: #73bd5d;
    --color-work-accent: white;
    --color-work-text-emphasis: black;
    --color-work-text-normal: rgb(112, 112, 112);
}


/**********
Navbar
***********/
nav{

    display: flex;
    background-color: var(--color-primary);
    justify-content: space-between;
    align-items: center;
    height: var(--nav-header-height);
    padding: 3px 5px;
}
.nav-profile{
    height: var(--nav-header-height);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-profile img {
    height: calc(0.9 * var(--nav-header-height));
    border-radius: 50%;
}

.nav-profile h1 {
    font-size: calc(0.7 * var(--nav-header-height));
    font-family: var(--nav-font-family);
    padding-left: 10px;
}



/* Format navigation links */
nav ul.nav-links{
    display: flex;
    list-style: none;
    white-space:nowrap;
    align-items:center;
    flex-direction: row;
    height: var(--nav-header-height);
}

nav ul.nav-links li{    
    display: inline-block;
    margin-bottom: 5px;
    font-size: 1.4em;
}

nav ul.nav-links li a{
    text-decoration: none;
    color: var(--nav-font-color);
    font-family: var(--nav-font-family);
    border-bottom: 3px double var(--nav-font-color);
    display: inline-block;
    margin: 0 10px;
}

nav ul.nav-links li a:hover{
    border-bottom: 3px solid var(--nav-font-color);
}

/*** mobile css for nav ***/
@media only screen and (max-width: 768px) {
    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: auto;
    }
    .nav-profile{
        flex: 1 1 100%;
        display: inline-block;
        position: relative;
        height: auto;
        text-align: center;
    }
    
    nav ul.nav-links {
        flex: 1 1 100%;
        position: relative;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        height: auto;
        padding-top: 1em;
        font-size: 1.2em;
    }
    nav ul.nav-links li{    
        font-size: 1em;
    }
    

}

/**********
main
***********/

/*** general style of sections within main **/

/* set title to the left */
.main-sec{
    font-family: var(--content-font-family);
    color: var(--content-text-color);
}

.main-sec .sec-header{
    display: inline-block;
    width: 20%;
    vertical-align: top;
    text-align: right;
    padding: 0.5em 0.2em 0em 0em;   

}
.main-sec .sec-content{
    margin: 1em 0em 1em 0em;
    padding: 0em 1.5em 0em 1.5em;
    display: inline-block;
    width: 70%;
    border-left: 3px solid var(--color-primary);
    min-height: 3em;
}


.main-sec h2 {
    font-size: 1.8em;
    font-family: var(--nav-font-family);
    color: rgb(0,0,0,0.7);
    padding-bottom: 1em;
}


/*** mobile css for main content ***/
@media only screen and (max-width: 768px) {
    .main-sec {
        display: flex;
        flex-direction: column;
    }

    .main-sec .sec-header {
        flex-grow: 0;
        align-self: center;
        width:fit-content;
        border-bottom: 3px solid var(--color-primary);
        margin-bottom: 0.5em;
        margin-left: 0.1em;
    }

    .main-sec .sec-content{
        border-left: none;
        display: inline-block;
        width: auto;
        min-height: 3em;
        text-align: left;
    }
}

/*** set alternating colors for sections, to add contrast between sections */
.main-sec:nth-child(odd) {
    background-color: var(--color-secondary);
}

.main-sec:nth-child(even)
{
    background-color: var(--color-tertiary);
}

/*** Styles for unique sections ***/
/* about section styles */


#sec-about p{
    font-size: 1em;
    line-height: 1.4;
    padding-bottom: 1em;
}

/* my work section styles */

.work-collection .work-container img{
    width: 100%;

}

/* add a tint to the image */
.work-collection .work-container:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    transition: all .3s linear;
    border: 3px solid var(--color-work-accent);
}

.work-collection .work-container:hover:before {
    background: none;
    cursor: pointer;
}

.work-collection  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 10px;
    row-gap: 10px;

}
.work-collection  .work-container:first-child{
    flex: 1 1 100%;
    position: relative;
}

.work-collection .work-container{
    flex: 1 1 40%;
    position: relative;
}

.work-collection .work-container .work-text {
    background-color: var(--color-work-accent);
    display: inline-block;
    padding: 5px 8px 5px 10px;
    font-family: var(--nav-font-family);
    bottom: 10px;
    position:absolute;
    z-index: 3;
}

.work-collection .work-container .work-text h4 {
    color: var(--color-work-text-emphasis);
    font-size: 1.5em;
}

.work-collection .work-container .work-text span {
    color: var(--color-work-text-normal);
}

/*** mobile css for work section **/
@media only screen and (max-width: 768px) {
    .work-collection .work-container .work-text h4 {
        font-size: 1.2em;
    }
    
}

/* contact section styles */
#sec-contact .sec-content{
    position: relative;
}

#sec-contact .sec-content ul {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    white-space:nowrap;
    justify-content: space-evenly;
    width: 100%;
}


#sec-contact .sec-content a {
    text-decoration: none;
    color:  var(--content-text-color);
    flex: 1 1 100%;
    border-bottom: 0.15em solid var(--content-text-color);
    padding-bottom: 0.2em;
    font-size: 1.1em;
}

/*** mobile css for contact section ***/
@media only screen and (max-width: 768px) {
    #sec-contact .sec-content ul {
        position:relative;
        flex-wrap: wrap;
        top: auto;
        flex-direction: column;
        transform: initial;
        -ms-transform:initial;
        text-align: center;
    }

    #sec-contact .sec-content ul li {
        flex: 1 1 ;
    }

    #sec-contact .sec-content a {
        text-decoration: underline;
        color:  var(--content-text-color);
        flex: 1 1 100%;
        border-bottom: none;
        padding-bottom: 0.2em;
        font-size: 1.2em;
        line-height: 1.8em;
    }
}
